header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding:0 1%;
}
.filter-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    border-top: 1px solid rgb(234, 234, 234);
    border-bottom: 1px solid rgb(234, 234, 234);
    margin-bottom: 1%;
    background-color: #395B64;
}
.movie-section{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    width: 100%;
    min-height:85vh ;

   
}
.movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:#A5C9CA;
   cursor: pointer;
    border: 1px solid black;
    height: 50vh;
}
img {max-width:100%; height:50%}

.search-wrap{

}
.searchbar{
    width: 300px;
    background-color: azure;
    border-radius: 8px;
    border: 0.5px solid #395B64;
    height: 20px;
}
.loading-message{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}